version: '3.4'
services:
    nginx:
        build: ./nginx
        ports:
            - 80:80
            - 443:443
        volumes:
            - certs:/etc/letsencrypt
            - certs-data:/data/letsencrypt
        depends_on:
            - back
            - front
    back:
        build: ./back
        command: /go/src/ant-farm/main
        expose:
            - 8081
    front:
        build: ./front
        command: npm run build
        expose:
            - 3000
volumes:
    certs:
    certs-data: